@* @using Backend.Service.View *@
@* @using Microsoft.AspNetCore.Mvc.TagHelpers *@
@* @model Backend.Service.ViewModel.FlightViewModel *@
@* *@
@* <div class="modal-content"> *@
@*     <div class="modal-header border-0"> *@
@*         <h5 class="modal-title"> *@
@*             <span class="fw-mediumbold">Chỉnh sửa</span> *@
@*         </h5> *@
@*         $1$ <button type="button" class="close" data-dismiss="modal" aria-label="Close"> #1# *@
@*         $1$     <span aria-hidden="true">×</span> #1# *@
@*         $1$ </button> #1# *@
@*     </div> *@
@*     <div class="modal-body"> *@
@*         <form id="form" method="post" enctype="multipart/form-data"> *@
@*             @Html.HiddenFor(model => model.id) *@
@*            $1$  @Html.HiddenFor(model => model.base_price) #1# *@
@*             @Html.Hidden("air_id") *@
@*             @Html.Hidden("route_id") *@
@*             <div class="row"> *@
@*                 $1$ <div class="col-sm-12"> #1# *@
@*                 $1$     <div class="form-group form-group-default"> #1# *@
@*                 $1$         <label>Máy bay</label> #1# *@
@*                 $1$         <select id="select_aircarf" style="width: 100%;" onchange="changeTarget(this,'air_id')"> #1# *@
@*                 $1$             <option value="@Model.air_id">@Model.aircarf.code</option> #1# *@
@*                 $1$         </select> #1# *@
@*                 $1$     </div> #1# *@
@*                 $1$ </div> #1# *@
@* *@
@*                 $1$ <div class="col-sm-12"> #1# *@
@*                 $1$     <div class="form-group form-group-default"> #1# *@
@*                 $1$         <label>Tuyến bay</label> #1# *@
@*                 $1$         <select id="select_routes" style="width: 100%;" onchange="changeTarget(this,'route_id')"> #1# *@
@*                 $1$             <option value="@Model.route_id">@Model.routes.search</option> #1# *@
@*                 $1$         </select> #1# *@
@*                 $1$     </div> #1# *@
@*                 $1$ </div> #1# *@
@* *@
@*                 $1$ <div class="col-sm-12"> #1# *@
@*                 $1$     <div class="form-group form-group-default"> #1# *@
@*                 $1$         <label>Thời gian bay</label> #1# *@
@*                 $1$         <div class="row"> #1# *@
@*                 $1$             <div class="col-sm-6"> #1# *@
@*                 $1$                 <input id="de_time" name="de_time" type="datetime-local" class="form-control" placeholder="Thời gian xuất phát" #1# *@
@*                 $1$                        value="@Model.de_time.ToString("yyyy-MM-ddTHH:mm")"> #1# *@
@*                 $1$             </div> #1# *@
@*                 $1$             <div class="col-sm-6"> #1# *@
@*                 $1$                 <input id="ar_time" name="ar_time" type="datetime-local" class="form-control" placeholder="Thời gian đến" #1# *@
@*                 $1$                        value="@Model.ar_time.ToString("yyyy-MM-ddTHH:mm")"> #1# *@
@*                 $1$             </div> #1# *@
@*                 $1$         </div> #1# *@
@*                 $1$     </div> #1# *@
@*                 $1$ </div> #1# *@
@* *@
@*                 <div class="col-sm-12"> *@
@*                     <div class="form-group form-group-default"> *@
@*                         <label>Ghi chú</label> *@
@*                         @Html.TextAreaFor(x => x.note, new { @class = "form-control" }) *@
@*                     </div> *@
@*                 </div> *@
@* *@
@*                 <div class="col-sm-12"> *@
@*                     <div class="form-group form-group-default"> *@
@*                         <label for="status">Tình trạng</label> *@
@*                         @Html.DropDownListFor(m => m.status, *@
@*                         new SelectList(new[] *@
@*                         { *@
@*                         new { Value = 1, Text = "Sẵn sàng" }, *@
@*                         new { Value = 2, Text = "Thay đổi lịch trình" }, *@
@*                         new { Value = 3, Text = "Bay" }, *@
@*                         new { Value = 4, Text = "Hủy" } *@
@*                         }, "Value", "Text", Model.status), *@
@*                         new { @class = "form-control", id = "status" } *@
@*                         ) *@
@*                     </div> *@
@*                 </div> *@
@* *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@*     <div class="modal-footer border-0"> *@
@*         <button type="button" id="addRowButton" class="btn btn-primary" onclick="doUpdate(this)"> *@
@*             Lưu *@
@*         </button> *@
@*         <button type="button" class="btn btn-danger" id="closeModal" data-dismiss="modal" onclick="closeModal('#ctrModal')"> *@
@*             Hủy *@
@*         </button> *@
@*     </div> *@
@* </div> *@
@* *@
@* <script type="text/javascript" src="~/flight.js" defer=""></script> *@
@* *@
